body{
    background-color: white;
    margin: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.col-left { font-weight: bold;}
.col-right { justify-self: end; color: black; font-weight: bold;}
.after-Bsc{ font-weight: italic; font-size: small;}

#id1, #id2, #id3, #id4,#id5,#id6,#id7{
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: -3px;
    padding-bottom: -3px;

}
.bold-hr {
  border: none;
  height: 2px;          
  background-color: #333; 
}
.center-this {
  text-align: center;
}
#name{
    margin-bottom: -3px;
    padding-bottom: -3px;
}